{% extends "base.html" %} {% block title %}Account{% endblock %} {% block content %}

<div class="row py-5 px-4">
    <div class="col-xl-6 mx-auto">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    <div class="profile mr-3 py-4"><img class='rounded-circle m-2'
                            src="{{url_for('static', filename=account['imgURL'])}}" width="100px" height="100px"
                            class="avatar"></div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{account["name"]}}</h4>
                        <p class="small mb-4"> Poker pro </p>
                    </div>
                </div>
            </div>

            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block" id="fneg">€{{account["profit"]}}</h5><small class="text-muted">Profit</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">5</h5><small class="text-muted">Sessions</small>
                    </li>
                </ul>
            </div>

            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">User stats</h5><a href="#" class="btn btn-link text-muted">See more</a>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-striped table-primary">
                            <tbody>
                                <tr>
                                    <td>Total Beginstack</td>
                                    <td>{{account["total_beginstack"]}}</td>
                                </tr>
                                <tr>
                                    <td>Total Added Chips</td>
                                    <td>{{account["total_added_chips"]}}</td>
                                </tr>
                                <tr>
                                    <td>Total Endstack</td>
                                    <td>{{account["total_endstack"]}}</td>
                                </tr>
                                <tr>
                                    <td>Average Profit</td>
                                    <td name="negative">{{account["average_profit"]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <table class="table table-striped table-primary">
                            <tbody>
                                <tr>
                                    <td>Average Beginstack</td>
                                    <td>{{account["average_beginstack"]}}</td>
                                </tr>
                                <tr>
                                    <td>Average Added Chips</td>
                                    <td>{{account["average_added_chips"]}}</td>
                                </tr>
                                <tr>
                                    <td>Average Endstack</td>
                                    <td>{{account["average_endstack"]}}</td>
                                </tr>
                                <tr>
                                    <td>Profit Per Hour</td>
                                    <td name="negative">{{account["profit_hour"]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{%block js%}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        MakeNegative()
    });

    function MakeNegative() {
        TDs = document.getElementsByName('negative');
        for (i=0; i<TDs.length; i++) {
                temp = TDs[i];
                if (temp.firstChild.nodeValue.indexOf('-') == 0){
                    temp.className = "text-danger";
                } 
                else {
                    temp.className = "text-success";
                }
            }
        TD = document.getElementById('fneg')
        if (TD.firstChild.nodeValue.indexOf('-') == 0){
            TD.className = "font-weight-bold mb-0 d-block text-danger";
        } 
        else {
            TD.className = "font-weight-bold mb-0 d-block text-success";
        }
    }

</script>
{%endblock%}