{% extends "base.html" %} {% block title %}Account{% endblock %} {% block content %}

<div class="row py-5 px-4">
    <div class="col-xl-6 mx-auto">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    <div class="profile mr-3 py-4">
                        {%if account['imgURL'] != "/pictures/account.png"%}
                        <div class="circular--landscape-large">
                        <img src="{{url_for('static', filename= account['imgURL'])}}">
                        </div>
                        {%else%}
                        <img class="rounded-circle" src="{{url_for('static', filename= account['imgURL'])}}" width="100px"
                            height="100px">
                        {%endif%}
                            {%if user.name == account["name"]%}
                            <a onclick="deleteStorage()" href="/logout" class="btn btn-dark btn-sm btn-block">Logout</a>
                            {%endif%}
                        </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{account["name"]}}</h4>
                        <p class="small mb-4"> Poker pro </p>
                    </div>
                </div>
            </div>

            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block" id="fneg">€{{account["profit"]}}</h5><small id="profit" class="text-muted">Profit</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{account["session_amount"]}}</h5><small class="text-muted">Sessions</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{account["host_amount"]}}</h5><small class="text-muted">Hosted Sessions</small>
                    </li>
                </ul>
            </div>

            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between ml-3 mb-3">
                    <h5 class="mb-0">User stats</h5>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table ml-3 table-striped table-dark">
                            <tbody>
                                <tr>
                                    <td>Total Beginstack</td>
                                    <td>{{account["total_beginstack"]}}</td>
                                </tr>
                                <tr>
                                    <td>Total Added Chips</td>
                                    <td>{{account["total_added_chips"]}}</td>
                                </tr>
                                <tr>
                                    <td>Total Endstack</td>
                                    <td>{{account["total_endstack"]}}</td>
                                </tr>
                                <tr>
                                    <td>Average Profit</td>
                                    <td name="negative">{{account["average_profit"]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col mr-3">
                        <table class="table table-striped table-dark">
                            <tbody>
                                <tr>
                                    <td>Average Beginstack</td>
                                    <td>{{account["average_beginstack"]}}</td>
                                </tr>
                                <tr>
                                    <td>Average Added Chips</td>
                                    <td>{{account["average_added_chips"]}}</td>
                                </tr>
                                <tr>
                                    <td>Average Endstack</td>
                                    <td>{{account["average_endstack"]}}</td>
                                </tr>
                                <tr>
                                    <td>Profit Per Hour</td>
                                    <td name="negative">{{account["profit_hour"]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between ml-3 mb-3">
                    <h5 class="mb-0">User sessions</h5>
                </div>
                <div class="col overflow-auto mb-4" style="max-height: 220px;">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Session</th>
                                <th scope="col">Date</th>
                                <th scope="col">Buyin</th>
                                <th scope="col">Added Chips</th>
                                <th scope="col">End Stack</th>
                                <th scope="col">Result</th>
                                <th scope="col">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for session in session_list%}
                            <tr>
                                <th scope="row">{{session.number}}</th>
                                <td>{{session.date}}</td>
                                <td>{{session.begin_stack}}</td>
                                <td>{{session.added_chips}}</td>
                                <td>{{session.end_stack}}</td>
                                <td>{{(session.end_stack - session.added_chips - session.begin_stack) | round(2)}}</td>
                                <td><a href="/sessions/{{session.session_ID}}">Session</a></td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex align-items-center justify-content-between ml-3 mb-3">
                    <h5 class="mb-0">Balance overview</h5>
                </div>
                <div class="mb-4">
                    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>
<br><br><br><br>
{% endblock %}

{%block js%}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        MakeNegative()
    });

    function MakeNegative() {
        TDs = document.getElementsByName('negative');
        for (i=0; i<TDs.length; i++) {
                temp = TDs[i];
                if (temp.firstChild.nodeValue.indexOf('-') == 0){
                    temp.className = "text-danger";
                } 
                else {
                    temp.className = "text-success";
                }
            }
        TD = document.getElementById('fneg')
        if (TD.firstChild.nodeValue.indexOf('€-') == 0){
            TD.className = "font-weight-bold mb-0 d-block text-danger";
            document.getElementById("profit").innerText = "Loss"
        } 
        else {
            TD.className = "font-weight-bold mb-0 d-block text-success";
        }
    }

</script>

<script>
    const xArray = JSON.parse("{{x_list}}");
    const yArray = JSON.parse("{{y_list}}");
    const yMin = Math.floor((Math.min(-100,Math.min(...yArray))) / 50)*50;
    
    const yMax = Math.ceil((Math.max(100, Math.max(...yArray))) / 50)*50;
    
   

    new Chart("myChart", {
        type: "line",
        data: {
          labels: xArray,
          datasets: [{
            fill: false,
            lineTension: 0,
            backgroundColor: "rgba(0,0,255,1.0)",
            borderColor: "rgba(0,0,0,1.0)",
            pointBackgroundColor: "rgba(0,0,0,1.0)",
            pointBorderColor: "rgba(0,0,0,1.0)",
            data: yArray
          }]
        },
        options: {
          legend: {display: false},
          scales: {
            xAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'Session'
                }}],
            yAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'Total profit/loss'
                },
                ticks: {min: yMin, max:yMax}}],
            
          }
        }
      });

      function deleteStorage(){
        window.sessionStorage.clear()
      }
    </script>
{%endblock%}