{% extends "base.html"%} {% block title %} Home {% endblock %}

{% block content%}
<br>
<br>
<br>
<div class="row">
    <div class="col">
        <ul class="list-group px-4">
            <h5 class="mb-1 p-3">Members:</h5>
            <li class="list-group-item list-group-item-action">Niek Damink</li>
            <li class="list-group-item list-group-item-action">Stein Bodde</li>
            <li class="list-group-item list-group-item-action">Naud Drost</li>
            <li class="list-group-item list-group-item-action">Pim Meulenkamp</li>
        </ul>
    </div>
    <div class="col-6">
        <div class="list-group">
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Casino avond met de boys</h5>
                    <small class="text-muted">1 day ago</small>
                </div>
                <p class="mb-1">Afgelopen week zijn we lekker met de boyz naar het casino gegaan. Niekje heeft ofcourse
                    10k gepakt</p>
            </a>
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Poker Avondje</h5>
                    <small class="text-muted">10-04-2024</small>
                </div>
                <p class="mb-1">Afgelopen weekend was de gezellige pokeravond gehost bij stein! Was erg gezellig, maar
                    nadat Pim 2 flessen whisky op had is hij knockout gegaan</p>
            </a>
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Pokeravond Lonneker</h5>
                    <small class="text-muted">20-03-2024</small>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="mb-1">Afgelopen vrijdag zijn de PokerPals in lonneker geweest voor het ONKP.
                            Het was een gezellige avond waar we nog bekenden zijn tegengekomen uit Losser. Het was naast
                            een gezellige avond ook een succesvolle avond. Niek en Stein zijn bij de laatste 2 tafels
                            gekomen.
                            d Niek is geëindigd op de 9de plek en Stein is 11de geworden. Dit staat gelijk aan een
                            kwartfinale ticket voor beide.
                            Dus de PokerPals zullen vaker te zien zijn bij het ONKP!</p>
                    </div>
                    <div class="col-auto">
                        <img src="{{url_for('static', filename='pictures/pim.jpg')}}" width="120px">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="list-group px-4">
            <h5 class="mb-1 p-3">Upcoming events:</h5>
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">ONK Poker event</h5>
                </div>
                <small class="text-muted">15 mei 2024</small>
            </a>
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Casino night</h5>
                </div>
                <small class="text-muted">19 april 2024</small>
            </a>
        </div>
    </div>
    {% endblock %}