{% extends "base.html"%} {% block title %} Home {% endblock %}

{% block content%}
<br>
<br>
<br>
<div class="row">
    <div class="col">
        <ul class="list-group px-4">
            <h5 class="mb-1 p-3">Members:</h5>
            {% for name, url in user_list%}
            <li class="list-group-item list-group-item-action">
                <a class="text-reset" href="/account/{{name}}">
                <div class="row">
                    <div class="col-auto">
                        <img class="rounded-circle" src="{{url_for('static', filename= url)}}" width="40px" height="40px">
                    </div>
                    <div class="col">
                        {{ name }}
                    </div>
                </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-6">
        <div class="list-group">
            {%for post in post_list%}
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{post.title}}</h5>
                    <small class="text-muted">20-03-2024</small>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="mb-1">{{post.text}}</p>
                    </div>
                    {%if post.imgURL != "NoPicture"%}
                    <div class="col-auto">
                        <img src="{{url_for('static', filename=post.imgURL)}}" width="120px">
                    </div>
                    {%endif%}
                </div>
            </a>
            {%endfor%}
        </div>
    </div>
    <div class="col">
        <div class="list-group px-4">
            <h5 class="mb-1 p-3">Upcoming events:</h5>
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">ONK Poker event</h5>
                </div>
                <small class="text-muted">15 mei 2024</small>
            </a>
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Casino night</h5>
                </div>
                <small class="text-muted">19 april 2024</small>
            </a>
        </div>
    </div>
    {% endblock %}