{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
<div class="row no-gutter">
    <!-- The content half -->
    <div class="col-md-6 bg-light">
        <div class="login d-flex align-items-center py-5 min-vh-100">

            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-7 mx-auto">
                        <h3 class="display-4">PokerPals</h3>
                        <p class="text-muted mb-4">Login to your account</p>
                        <form method="POST">
                    
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        placeholder="Enter name"
                        />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Enter password"
                        />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                    </div>
                </div>
            </div><!-- End -->

        </div>
    </div><!-- End -->


    <!-- The image half -->
    <div class="col-md-6 my-auto text-center">
        <img src="{{url_for('static', filename='pictures/logo.png')}}" width="500px">
        <p>This website is made on the instructions of PokerPals Oldenzaal. Especially meant for members so they can keep track of their progress and profits.
            Feel free to take a look and discover the magic behind statistics BUT be awere of shocking results if you do not make much profit :0
        </p>
    </div>
</div>
{% endblock %}