{% extends "admin/baseAdmin.html" %} {% block title %}Sessions{% endblock %} {% block content %}
<div class="fluid-container p-5">
    <h3 align="center">Sessions</h3><br>
    <form method="POST">
        <div class="form-row align-items-center">
            <div class="col m-3">
                <label class="mr-sm-2" for="filter">Filter on</label>
                <select onchange="saveChoice(this, 'active1');" class="custom-select mr-sm-2" name="filter" id="filter">
                    <option id="f0" selected value="0">All</option>
                    <option id="f1" value="1">Host</option>
                    <option id="f2" value="2">Month</option>
                    <option id="f3" value="3">Year</option>
                </select>
            </div>
            <div class="col-auto m-3">
                <label class="mr-sm-2" for="input Value">Value</label>
                <input type="text" onkeyup="saveValue(this)" class="form-control" name="inputValue" id="inputValue" placeholder="Value">
                </div>

            <div class="col m-3">
                <label class="mr-sm-2" for="order">Order on</label>
                <select onchange="saveChoice(this, 'active2');" class="custom-select mr-sm-2" name="order" id="order">
                    <option selected value="0">Date</option>
                    <option value="1">Play Time</option>
                    <option value="2">Potsize</option>
                    <option value="3">Players</option>
                </select>
            </div>
        <div class="col-auto m-3 mt-5">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="col-auto m-3 mt-5">
            <button type="button" onclick="addSession()" class="btn btn-info">Add a new session</button>
        </div>
    </div>
    </form>
    <div class="row">
        <div class="col overflow-auto" style="max-height: 400px;">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Session</th>
                        <th scope="col">Date</th>
                        <th scope="col">Host</th>
                        <th scope="col">Play Time</th>
                        <th scope="col">SB</th>
                        <th scope="col">BB</th>
                        <th scope="col">72</th>
                        <th scope="col">Straddle</th>
                        <th scope="col">Players</th>
                        <th scope="col">Total Pot</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in session_list%}
                    <tr>
                        <th scope="row" name="{{session.session_ID}}">{{session.session_ID}}</th>
                        <td name="{{session.session_ID}}">{{session.date}}</td>
                        <td name="{{session.session_ID}}">{{session.host}}</td>
                        <td name="{{session.session_ID}}">{{session.duration}}</td>
                        <td name="{{session.session_ID}}">{{session.small_blind}}</td>
                        <td name="{{session.session_ID}}">{{session.big_blind}}</td>
                        {%if session.seven_deuce%}
                        <td name="{{session.session_ID}}">On</td>
                        {%else%}
                        <td name="{{session.session_ID}}">Off</td>
                        {%endif%}
                        {%if session.straddle%}
                        <td name="{{session.session_ID}}">On</td>
                        {%else%}
                        <td name="{{session.session_ID}}">Off</td>
                        {%endif%}
                        <td name="{{session.session_ID}}">{{session.players}}</td>
                        <td name="{{session.session_ID}}">{{session.pot}}</td>
                        <td><button onclick="editSession('{{session.session_ID}}')" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit</button></td>
                        <td><button onclick="deleteSession('{{session.session_ID}}')" class="btn btn-danger">Delete</button></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="form" method="POST" action="/admin/sessions/editSession">
                <h5 class="mb-1 py-3">Session</h5>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Host</label>
                    <input type="text" class="form-control" name="host" id="host" placeholder="Host">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Date</label>
                    <input type="text" class="form-control" name="date" id="date"
                      placeholder="DD/MM/YYYY">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col">
                    <label>Duration</label>
                    <input type="text" class="form-control" name="duration" id="duration"
                      placeholder="duration">
                  </div>
                  <div class="form-group col">
                    <label>Small blind</label>
                    <input type="text" class="form-control" name="smallblind" id="smallblind"
                      placeholder="Small blind">
                  </div>
                  <div class="form-group col">
                    <label>Big blind</label>
                    <input type="text" class="form-control" name="bigblind" id="bigblind"
                      placeholder="Big blind">
                  </div>
                </div>
                <div class="form-row p-2 px-4">
                  <div class="form-check col">
                    <input class="form-check-input" type="checkbox" name="straddle" id="straddle">
                    <label class="form-check-label" for="gridCheck">
                      straddle
                    </label>
                  </div>
                  <div class="form-check col">
                    <input class="form-check-input" type="checkbox" name="sevendeuce" id="SevenDeuce">
                    <label class="form-check-label" for="gridCheck">
                      72
                    </label>
                  </div>
                </div>
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" onclick="submitEditForm()" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{%block js%}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        loadDocument()
    });

    function addSession(){
        location.href = "/admin/sessions/add_session"
    }

    function loadDocument(){
        active1 = window.sessionStorage.getItem("active1")
        active2 = window.sessionStorage.getItem("active2")
        value = window.sessionStorage.getItem("inputValue")
        document.getElementById("filter").selectedIndex = active1
        document.getElementById("order").selectedIndex = active2
        document.getElementById("inputValue").value = value
    }

    function saveChoice(element, form){
        window.sessionStorage.setItem(form, element.selectedIndex)
    }

    function saveValue(element){
        window.sessionStorage.setItem(element.id, element.value)
    }

    function deleteSession(id) {
        fetch("/admin/sessions/delete/" + id, {
            method: 'DELETE'
        }).then(function() {
            location.reload();
        });
    }

    function editSession(id) {
        var nodes = document.getElementsByName(id)
        document.getElementById("modalLabel").innerText = "Edit session " + nodes[0].innerText
        document.getElementById("host").value = nodes[1].innerText
        document.getElementById("date").value = nodes[2].innerText
        document.getElementById("duration").value = nodes[3].innerText
        document.getElementById("smallblind").value = nodes[4].innerText
        document.getElementById("bigblind").value = nodes[5].innerText
        document.getElementById("SevenDeuce").checked = nodes[6].innerText == "On"
        document.getElementById("straddle").checked = nodes[7].innerText == "On"
    }

    function submitEditForm(){
        document.getElementById('editForm').submit()
    }
</script>
{%endblock%}